<!DOCTYPE html>
<html>
<head>
	<!-- Standard Meta -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<!-- Site Properties -->
	<title>OpenGarage Portal</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body>
	<div class="ui top attached menu">
		<a href="/portal" class="header item">OpenGarage Portal</a>
		<a href="#" class="active item" data-tab="tab-status">
			<i class="dashboard icon"></i> Status
		</a>
		<a href="#/logs" class="item" data-tab="tab-logs">
			<i class="table icon"></i> Logs
		</a>
		<a href="#/options" class="item" data-tab="tab-options">
			<i class="options icon"></i> Options
		</a>
		<a href="#/update" class="item" data-tab="tab-update">
			<i class="download icon"></i> Update
		</a>
		<a href="#/about" class="item right" data-tab="tab-about">
			<i class="info icon"></i> About
		</a>
	</div>

	<section class="ui segment">

		<div class="ui bottom attached tab" data-tab="tab-none">
			Never show this tab, just here to take up some random CSS that I don't feel like solving right now
		</div>




		<div class="ui bottom attached active tab" data-tab="tab-status">
			<h3>Status</h3>

			<b>Distance:</b>
			<label id='lbl_dist'>-</label>
			
			<b>Door State:</b>
			<label id='lbl_status'>-</label>
			
			<b>Read Count:</b>
			<label id='lbl_beat'>-</label>     
			
			<b>Device Key:</b>
			<input type='password' size=16 maxlength=32 name='devicekey' id='devicekey'>


			<button class="ui button" id='btn_click'>Button</button>  


			<script>

				$('#btn_rbt').click(function(e){
					if(confirm('Reboot the device now?')){
						var comm = 'controller?reboot=1&devicekey='+($('#devicekey').val());
						clear_msg();
						$.getJSON(comm, function(jd) {
							if(jd.result!=1) show_msg('Check device key and try again.',2000,'red');
							else {
								show_msg('Rebooting. Please wait...',0,'green');
								clearInterval(si);
								setTimeout(function(){location.reload(true);}, 10000);
							}
						});
					}
				}); 

				$('#btn_click').click(function(e) {
					var comm = 'controller?click=1&devicekey='+($('#devicekey').val());
					clear_msg();
					$.getJSON(comm, function(jd) {
						if(jd.result!=1) {
							show_msg('Check device key and try again.',2000,'red');
						}
					});
				});


			</script>



		</div>




		<div class="ui bottom attached tab" data-tab="tab-options">
			<h3>Options</h3>

			<div id="options-refresh" class="ui button">
				<i class="refresh icon"></i> Refresh Options
			</div>
			<form action="options" method="POST" class="ui form">

				<h4 class="ui dividing header">Device Settings</h4>

				<div class="fields">
					<div class="three wide field">
						<label>Device Name:</label>
						<input type='text' size=20 maxlength=32 id='name' value='-'>
					</div>

					<div class="three wide field">
						<label>
						<div class="ui checkbox">
							<input type='checkbox' id='change_devicekey'>
							<label>Change DeviceKey</label>
						</div>
						</label>
						<input type='password' size=24 maxlength=32 id='new_devicekey' disabled>
					</div>

					<div class="three wide field">
						<label>Confirm:</label>
						<input type='password' size=24 maxlength=32 id='confirm_devicekey' disabled>
					</div>
				</div>

				<h4 class="ui dividing header">Accessibility Settings</h4>

				<div class="fields">
					<div class="three wide field">
						<label>Access Type(s):</label>
						<select name='access_mode' id='access_mode' class="dropdown">
							<option value=0>Direct IP Only</option>
							<option value=1>Direct IP + Cloud</option>                  
							<option value=2>Cloud Only</option>
						</select>
					</div>

					<div class="two wide field">
						<label>HTTP Port:</label>
						<input type='text' size=5 maxlength=5 id='http_port' value=1>
					</div>

					<div class="three wide field">
						<label>Cloud Token:</label>
						<input type='text' size=24 maxlength=32 id='auth' value='-'>
					</div>
				</div>

				<h4 class="ui dividing header">Sensor Settings</h4>

				<div class="fields">
					<div class="three wide field">
						<label>Mount Type:</label>
						<select name='mount_type' id='mount_type' class="dropdown">
							<option value=0>Ceiling Mount</option>
							<option value=1>Side Mount</option>
						</select>
					</div>

					<div class="two wide field">
						<label>Threshold (cm):</label>
						<input type='text' size=4 maxlength=4 id='dth' value=1>
					</div>

					<div class="two wide field">
						<label>Read Interval (s):</label>
						<input type='text' size=3 maxlength=3 id='read_interval' value=1>
					</div>
				</div>

				<h4 class="ui dividing header">Save Changes</h4>

				<p id='msg'></p>

				<div class="fields">

					<div class="five wide inline field">
						<label>Enter Device Key:</label>
						<input type='password' size=24 maxlength=32 id='devicekey'>
					</div>

					<button class="ui button primary" type="submit">Submit</button>
				</div>
			</form>
			<script>
				//#msg acts as a response container for events
				function clear_msg() {
					$('#msg').text('');
				}  

				function show_msg(s) {
					$('#msg').text(s).css('color','red');
					setTimeout(clear_msg, 2000);
				}				
				
				$('#btn_submit').click(function(e){
					e.preventDefault();
					if(confirm('Submit changes?')) {
						var comm='controller?devicekey='+encodeURIComponent($('#devicekey').val());
						comm+='&access_mode='+$('#access_mode').val();
						comm+='&mount_type='+$('#mount_type').val();
						comm+='&dth='+$('#dth').val();
						comm+='&read_interval='+$('#read_interval').val();
						comm+='&alarm='+$('#alarm').val();
						comm+='&http_port='+$('#http_port').val();
						comm+='&name='+encodeURIComponent($('#name').val());
						comm+='&auth='+encodeURIComponent($('#auth').val());
						if($('#change_devicekey').is(':checked')) {
							if(!$('#new_devicekey').val()) {
								if(!confirm('New device key is empty. Are you sure?')) return;
							}
							comm+='&new_devicekey='+encodeURIComponent($('#new_devicekey').val());
							comm+='&confirm_devicekey='+encodeURIComponent($('#confirm_devicekey').val());
						}
						$.getJSON(comm, function(jd) {
							if(jd.result!=1) {
								if(jd.result==2) show_msg('Check device key and try again.');
								else show_msg('Error code: '+jd.result+', item: '+jd.item);
							} else {
								$('#msg').html('<font color=green>Options are successfully saved. Note that<br>changes to some options may require a reboot.</font>');
								$('#btn_submit').
								setTimeout(close, 4000);
							}
						});
					}
				});

				$(document).ready(function() {
					
				});
			</script>

		</div>




		<div class="ui bottom attached tab" data-tab="tab-logs">
			<h3>Logs</h3>
			<div id="logs-refresh" class="ui button">
				<i class="refresh icon"></i> Refresh Logs
			</div>
			<table id="table-logs" class="ui table">
				<thead>
					<tr>
						<th>Time Stamp</th>
						<th>Status</th>
						<th>D (cm)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3">No Logs Loaded</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="ui bottom attached tab" data-tab="tab-update">
			<h3>Update</h3>

			<form method='POST' action='/update' id='fm' enctype='multipart/form-data' class="ui form">

				<h4 class="ui dividing header">Firmware Update</h4>

				<div class="six wide field">
					<label>New Firmware File (.bin)</label>
						<div class="ui action input">
								<input type="text" readonly id="_file">
								<input type="file" id="file" name="file" accept=".bin" style="display: none">
								<label for="_file" class="ui icon button btn-file">
										 <i class="folder basic icon"></i>
								</label>
						</div>
				</div>  

				<div class="fields">

					<div class="five wide inline field">
						<label>Enter Device Key:</label>
						<input type='password' size=24 maxlength=32 id='devicekey'>
					</div>

					<button class="ui button primary" type="submit">Update</button>

				</div>

			</form>

			<script>
				function id(s) {return document.getElementById(s);}

				$('#btn_submit').click(function(e){
					var files= id('file').files;
					if(files.length==0) {show_msg('Please select a file.',2000,'red'); return;}
					if(id('devicekey').value=='') {
						if(!confirm('You did not input a device key. Are you sure?')) return;
					}
					var btn = id('btn_submit');
					show_msg('Uploading. Please wait...',0,'green');
					var fd = new FormData();
					var file = files[0];
					fd.append('file', file, file.name);
					fd.append('devicekey', id('devicekey').value);
					var xhr = new XMLHttpRequest();
					xhr.onreadystatechange = function() {
						if(xhr.readyState==4 && xhr.status==200) {
							var jd=JSON.parse(xhr.responseText);
							if(jd.result==1) {
								show_msg('Update is successful. Rebooting. Please wait...',0,'green');
								setTimeout(close, 10000);
							} else if (jd.result==2) {
								show_msg('Check device key and try again.', 0, 'red');
							} else {
								show_msg('Update failed.',0,'red');
							}
						}
					};
					xhr.open('POST', 'update', true);
					xhr.send(fd);
				});
			</script>

		</div>



		</div>


		<div class="ui bottom attached tab" data-tab="tab-about">
			<h3>About</h3>
		</div>

	</section>

	<script>
	$(document).ready(function() {

		$("select.dropdown").dropdown();
		$(".checkbox").checkbox();

		// setup tab behavior on top menu items
		$('.ui.menu a.item').tab().on('click', function(){
			$(this)
				.addClass('active')
				.siblings()
				.removeClass('active');
		});

		// setup log refresh button and load initial data
		$("#logs-refresh").click(function(){
			refresh_logs();
		});

		// setup log refresh button and load initial data
		$("#options-refresh").click(function(){
			refresh_options();
		});

		// enable/disable the change key textboxes when the 'change key'
		// checkbox is changed
		$('#change_devicekey').on('change', function(e){
			thisStatus = $(this).is(':checked');
			$('#new_devicekey').prop('disabled', !thisStatus)
			$('#confirm_devicekey').prop('disabled', !thisStatus);
		});

		// setup the update input box
		$('input:text, .ui.button', '.ui.action.input').on('click', function(e){
				$('input:file', $(e.target).parents()).click();
		});
		$('input:file', '.ui.action.input').on('change', function(e){
			var name = e.target.files[0].name;
			$('input:text', $(e.target).parent()).val(name);
		});


	});

	function refresh_logs() {
		$("#logs-refresh i").addClass("loading");

		$.getJSON('/json/logs', function(response) {
			// clear the table contents
			$('#table-logs').find('tbody tr').remove();

			var logs=response.logs;

			// quickly sort the logs by timestamp
			logs.sort(function(a,b){return b["tstamp"]-a["tstamp"];});

			$('#logs-count').text(logs.length);

			var ldate = new Date();

			for(var i=0;i<logs.length;i++) {
				ldate.setTime(logs[i]["tstamp"]*1000);
				var r='<tr><td>'+ldate.toLocaleString()+'</td><td>'+(logs[i]["status"]?'OPEN':'closed')+'</td><td>'+logs[i]["dist"]+'</td></tr>';
				$('#table-logs tbody').append(r);
			}

			$("#logs-refresh i").removeClass("loading");

		});
	}

	function refresh_options() {
		$("#options-refresh i").addClass("loading");
		$.getJSON('/json/options', function(jd) {
			$('#firmware_version').text('v'+(jd.firmware_version/100>>0)+'.'+(jd.firmware_version/10%10>>0)+'.'+(jd.firmware_version%10>>0));
			$('#access_mode').val(jd.access_mode);
			$('#alarm').val(jd.alarm);
			$('#mount_type').val(jd.mount_type);
			$('#dth').val(jd.dth);
			$('#read_interval').val(jd.read_interval);
			$('#http_port').val(jd.http_port);
			$('#name').val(jd.name);
			$('#auth').val(jd.auth);
			$("#options-refresh i").removeClass("loading");
		});
	}

	function refresh_status() {
		$.getJSON('/json/controller', function(jd) {
			$('#firmware_version').text('v'+(jd.firmware_version/100>>0)+'.'+(jd.firmware_version/10%10>>0)+'.'+(jd.firmware_version%10>>0));
			$('#lbl_dist').text(''+jd.dist+' (cm)');
			$('#lbl_status').text(jd.door?'OPEN':'closed').css('color', jd.door?'red':'black');
			$('#lbl_beat').text(jd.read_count);
			$('#head_name').text(jd.name);
		});
	}

	</script>
</body>
</html>